# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# If you are using the Django secret key in a .env file
.env

# If your project uses migrations
**/migrations/*.pyc
**/migrations/*.py[cod]
**/migrations/__pycache__/

# Django static and media files
static/
media/

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.egg-info/
.installed.cfg
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# dotenv
.env

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# pyenv
.python-version

# virtualenv
env/
venv/
ENV/
env.bak/
venv.bak/
Pipfile
Pipfile.lock

# vscode
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# PyCharm
.idea/
*.iml

# Docker
*.stackdump
docker-compose.override.yml


db/*.crt

*_sample.txt
*error*.html